---
import { cn } from "@/_utils/tailwind.utils";
import { cva } from "class-variance-authority";

interface Props {
    className?: string;
}

const { className = "" } = Astro.props;

const h2 = cva(["font-bold text-xs bg-background px-1 align-middle"]);
---

<p class={cn(h2(), className)}>
    <slot />
</p>
