---
import "@/_styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Jayaprakash | Resume</title>
	</head>
	<body
		class="bg-[#1E1E1E] flex items-center justify-center min-w-[595px] min-h-[842px] w-max h-max"
	>
		<slot />
	</body>
</html>
